body {
  font-family: Merriweather Sans;
}

.bg-custom-image {
  background-image: url("/img/background.jpeg");
  background-size: cover;
  background-position: center;
}

.hidden {
  transform: translateY(100%);
  opacity: 0;
}
