:root {
  --color-green: RGB(181, 212, 36);
  --color-blue: RGB(11, 109, 255);
  --color-white: rgba(255, 255, 255, 0.5);
}
  body {
    font-family: Arial, sans-serif;
    background-image: url('/img/background.jpeg');
  }

  header,
  footer {
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 350px;
  }

  
  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .buttons-container button {
    margin-bottom: 10px;
    background-color: var(--color-green);
  }
  
  button {
    padding: 10px;
    background-color: var(--color-blue);
    border-radius: 8px;
    border-color: black;
    font-weight: bold;
  }

   #name-choosed-btn {
      width: 110px;
      height: 40px;
      background-color: rgba(255, 255, 255, 0.5);
      margin-bottom: 1rem;
  }

  #reset-btn {
    padding: 1rem;
  }
  
  .icon-cards__item {
    display: none;
    width: 250px;
  }

  #spin-btn {
    margin-bottom: 10px;
    display: block;
    transform: translateX(0);
    transition: transform 0.5s;
    width: 6rem;
    height: 3rem;
  }
  
  .icon-cards__item:first-child {
    display: block;
  }

  .image-transition {
    animation-name: slideOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(15%);
    }
  }