:root {
  --color-green: RGB(181, 212, 36);
  --color-blue: RGB(11, 109, 255);
  --color-white: RGB(255, 255, 255);
  --color-black: RGB(0, 0, 0);
  --color-beige: RGB(173, 158, 137);
  --color-violet: RGB(110, 128, 197);
  --color-l-violet: RGB(186, 182, 225);
  --color-purple: RGB(176, 83, 184);
}

body {
  font-family: Merriweather Sans;
}

.bg-custom-image {
  background-image: url("/img/background.jpeg");
  background-size: cover;
  background-position: center;
}

.blue-btn {
  background-color: var(--color-blue);
}

.purple-btn {
  background-color: var(--color-purple);
}

.sdw {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

.spin_door:first-child {
  display: block;
}

.image-transition {
  animation-name: slideOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(15%);
  }
}
