:root {
  --color-green: RGB(181, 212, 36);
  --color-blue: RGB(11, 109, 255);
  --color-white: RGBA(255, 255, 255, 0.5);
  --color-black: RGB(0, 0, 0);
  --color-beige: RGB(173, 158, 137);
  --color-violet: RGB(110, 128, 197);
  --color-l-violet: RGB(186, 182, 225);
  --color-purple: RGB(176, 83, 184);
}

body {
  font-family: Merriweather Sans;
}

.bg-custom-image {
  background-image: url("/img/background.jpeg");
  background-size: cover;
  background-position: center;
}

.bd-list {
  border: var(--color-beige);
}

#name-list li {
  cursor: pointer;
  text-align: center;
  color: var(--color-blue);
}

#name-list li.selected {
  background-color: var(--color-purple);
  color: white;
  width: 100%;
}

.blue-btn {
  background-color: var(--color-blue);
}

.violet-btn {
  background-color: var(--color-violet);
}

.l-violet-btn {
  background-color: var(--color-l-violet);
}

.purple-btn {
  background-color: var(--color-purple);
}

.sdw {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}
