:root {
  --color-purple: RGB(176, 83, 184);
  --color-beige: RGB(173, 158, 137);
}

body {
  font-family: Merriweather Sans;
}

.bg-custom-image {
  background-image: url("/img/background.jpeg");
  background-size: cover;
  background-position: center;
}

.title-container {
  border: var(--color-beige);
}
.txt-color {
  color: var(--color-purple);
}

.purple-btn {
  background-color: var(--color-purple);
}

.sdw {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

.mike-sullivan {
  animation: mike-sullivan-jumping 0.3s infinite;
}

@keyframes mike-sullivan-jumping {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
