
:root {
  --color-green: RGB(181, 212, 36);
  --color-blue: RGB(11, 109, 255);
  --color-white: rgba(255, 255, 255, 0.5);
}
    body {
      font-family: Arial, sans-serif;
      background-image: url('/img/background.jpeg');
    }
    
    header, footer {
      padding: 20px;
      display: flex;
      justify-content: center;
    }
    
    main {
      padding: 20px;
      display: flex;
      justify-content: center;   
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }
    
    .logo {
        width: 350px;
      }

      .title-container {
        width: 70%;
        background-color: rgba(255, 255, 255, 0.5);;
        padding: 1rem;
        border-radius: 10px;
      }

      button {
        padding: 10px;
        background-color: var(--color-blue);
        border-radius: 8px;
        border-color: black;
        font-weight: bold;
        padding: 1rem;
      }

      .mike-sullivan {
        display: flex;
        flex-direction: row;
        align-items: end;
        animation: mike-sullivan-shaking 0.3s infinite;
      }

      .mike {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
      }

      .sulley {
        height: 170px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: flex-end;
      }

      @keyframes mike-sullivan-shaking {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(5deg); }
        50% { transform: rotate(0eg); }
        75% { transform: rotate(-5deg); }
        100% { transform: rotate(0deg); }
      }